// Import Nunito font
// NOTE: reinclude font weight 700 if using bold
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');

// Bootstrap default variable overrides
// Needs to be done before importing bootstrap
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 960px
);
$spacer: 1rem;
$spacers: (
    6: ($spacer * 5)
);
$font-family-sans-serif:      'Open Sans', sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
// The font we use doesn't have a 500 weight (what Bootstrap uses by default)
$headings-font-weight:        600;
$body-bg:                   #fbfbfb;
$body-color:                #000;
$primary:                   #ea6934;
$btn-padding-x:               1.5rem;
$btn-padding-x-sm:            $btn-padding-x;
$btn-padding-x-lg:            $btn-padding-x;
$box-shadow:                  0.25rem 0.5rem 1.5rem rgba(#000, 0.15);

// Required
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

// Optional
// Reboot is basically a CSS normalizer
@import "node_modules/bootstrap/scss/reboot";
@import "bootstrap/scss/bootstrap-grid";
@import "node_modules/bootstrap/scss/utilities/text";
@import "node_modules/bootstrap/scss/utilities/borders";
@import "node_modules/bootstrap/scss/utilities/spacing";
@import "node_modules/bootstrap/scss/utilities/shadows";
@import "node_modules/bootstrap/scss/utilities/sizing";
@import "node_modules/bootstrap/scss/utilities/background";
@import "node_modules/bootstrap/scss/utilities/display";
@import "node_modules/bootstrap/scss/images";
@import "node_modules/bootstrap/scss/type";
@import "node_modules/bootstrap/scss/buttons";
@import "node_modules/bootstrap/scss/card";
@import "node_modules/bootstrap/scss/navbar";

$secondary-bg-color: #eef0f0;

.font-weight-semi-bold {
    font-weight: 600;
}

.logo {
    height: 50px;
}

%curve-container {
    width: 100%;
    svg {
        vertical-align: bottom;
    }
}

.signup-btn {
    @extend .btn, .btn-primary, .font-weight-semi-bold;
    // Set it super high, it just works for some reason
    border-radius: 10rem;
}

body {
    position: relative;

    .circle-container {
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;

        .circle {
            position: absolute;
            height: auto;
        }

        .circle-0 {
            top: -100px;
            right: 20%;
            @include media-breakpoint-up('md') {
                top: -75px;
                right: 41%;
            }
        }
        .circle-1 {
            top: 250px;
            right: -300px;
            @include media-breakpoint-up('md') {
                top: 100px;
                right: -200px;
            }
        }

        .circle-2 {
            top: 325px;
            right: 80%;
            @include media-breakpoint-up('md') {
                top: 300px;
                right: 35%;
            }
            @include media-breakpoint-up('lg') {
                top: 400px;
                right: 35%;
            }
        }
        .circle-3 {
            @extend .d-none, .d-md-block;
            top: 30%;
            left: -150px;
        }
        .circle-4 {
            @extend .d-none, .d-md-block;
            top: 38%;
            right: -25px;
        }
        .circle-5 {
            @extend .d-none, .d-md-block;
            top: 54%;
            left: 50%;
        }
        .circle-6 {
            @extend .d-none, .d-md-block;
            top: 60%;
            left: 10%;
        }
        .circle-7 {
            @extend .d-none, .d-md-block;
            top: 65%;
            right: -50px;
        }
        .circle-8 {
            @extend .d-none, .d-md-block;
            top: 75%;
            left: 20%;
        }
    }


    .header-container {
        background-color: $secondary-bg-color;
        .title-wrap {
            @include media-breakpoint-up('md') {
                display: flex;
                align-items: center;
                height: 100%;
            }
        }
    }

    .top-curve-container {
        @extend %curve-container;
        background-color: $secondary-bg-color;
        svg {
            path {
                fill: $body-bg;
            }
        }
    }

    .content-container {
        .partner-logo-wrap {
            padding: 0;
            img {
                @extend .img-fluid;
                padding: 0 1.5rem;
                // There are 5 images each with two margins
                max-width: 18%;
            }
        }
        .content-box {
            @extend .border-0, .rounded-0, .shadow;
            background-color: $white;
            padding: 1.5rem 3rem;
            @include media-breakpoint-up('md') {
                padding: 2rem 2.5rem;
            }

            .content-img {
                @extend .img-fluid;
                // Fix for SVG images in IE 10
                width: 100% \9;
            }
    
            .everywhere {
                margin: 1.5rem -1rem;
                @include media-breakpoint-up('md') {
                    margin: 0;
                }
                @include media-breakpoint-only('md') {
                    max-width: 70%;
                }
                @include media-breakpoint-up('lg') {
                    max-width: 50%;
                }
            }
        }
    }

    .bottom-curve-container {
        @extend %curve-container;
        background-color: $body-bg;
        svg {
            path {
                fill: $secondary-bg-color;
            }
        }
    }

    .footer-container {
        background-color: $secondary-bg-color;
    }
}