// Bootstrap default variable overrides
// Needs to be done before importing bootstrap
$body-bg:                   #fbfbfb;
$body-color:                #000;
$primary:                   #ea6934;
$btn-padding-x:               1.5rem;
$btn-padding-x-sm:            $btn-padding-x;
$btn-padding-x-lg:            $btn-padding-x;
$box-shadow:                  0.25rem 0.5rem 1.5rem rgba(#000, 0.15);

// Required
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

// Optional
// Basically a CSS normalizer
@import "node_modules/bootstrap/scss/reboot";
@import "bootstrap/scss/bootstrap-grid";
@import "node_modules/bootstrap/scss/utilities/text";
@import "node_modules/bootstrap/scss/utilities/borders";
@import "node_modules/bootstrap/scss/utilities/spacing";
@import "node_modules/bootstrap/scss/utilities/shadows";
@import "node_modules/bootstrap/scss/type";
@import "node_modules/bootstrap/scss/buttons";
@import "node_modules/bootstrap/scss/card";

body {
    .signup-button {
        @extend .btn, .btn-primary, .font-weight-bold;
    }
    .content-box {
        @extend .border-0, .rounded-0, .my-4, .shadow;
        background-color: $white;
        padding: 1.5rem 5rem;

        .content-box-image {
            @extend .text-center;
            margin: 1.5rem 3rem;
        }
    }
}